.residentListButton {
  @media (min-width: $mantine-breakpoint-sm) {
    margin-left: auto;
  }
}

.apartmentConfigTitle {
  cursor: pointer;
  &:hover {
    background-color: var(--mantine-color-gray-1);
  }
}
