.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  /* background-color: #333333; */
  background: repeating-linear-gradient(
    0deg,
    #2a2a2a,
    #2a2a2a 20px,
    #222222 20px,
    #222222 23px
  );
  color: #ffffff;
  font-size: 24px;
}

.rotate {
  /* counter-clockwise */
  /* transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  width: 100vh;
  height: 100vw; */
  /* clockwise */
  transform: rotate(90deg);
  transform-origin: bottom left;
  width: 100vh;
  height: 100vw;
  position: absolute;
  top: -100vw
}

.apartmentDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 350px;
  text-align: left;
}

.floorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.floorHeading {
  margin-bottom: 24px;
}

.residentInfo {
  display: flex;
  width: 70%;
  max-width: 450px;
  justify-content: space-between;
  text-transform: uppercase;
}

.residentHousenumber {
  white-space: nowrap;
}

.residentName {
  text-align: right;
}
